.fe-params {
  margin-bottom: 22px;
  display: grid;
  gap: 30px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    row-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.fe-param {
  @media (min-width: 576px) {
    max-width: 170px;
  }
}

.fe-param__button {
  margin-bottom: 15px;
  display: flex;
  gap: 6px;
  font-size: 12px;
  transition: color 0.2s;
  font-weight: 500;

  &:hover {
    color: var(--col-4);
  }
}

.fe-param__button-arrow {
  color: var(--col-5);
}

.fe-param__input {
  padding: 5px 6px;
  border: 1px solid var(--col-5);
  border-radius: 3px;
  font-size: 12px;
  height: 25px;
}

.fe-param__range {
  display: block;
  width: 100%;
}

.fe-param__inputs {
  display: flex;
  gap: 6px;
  margin-top: 20px;
  appearance: none;
}
